{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">
</head>
<body>
    <div class="container">
        <div class="login form">
          <header>Login</header>
          <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Enter your email" name="email">
            <input type="password" placeholder="Enter your password" name="password">
            <a href="#">Forgot password?</a>
            <input type="submit" class="button" value="Login">
          </form>
          <center>
            {% if error %}
              <p style="color: red;">{{ error }}</p>
            {% endif %}
          </center>
          <div class="signup">
            <span class="signup">Don't have an account?
             <label for="check"><a href="{% url 'register' %}">Signup</a></label>
            </span>
          </div>
        </div>
    </div>
</body>
</html>